* {
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  /* define que as imagens tem que ter o tamanho máximo da div mãe */
  .img-responsive {
    width: 100%;
    height: 100%;
    /* garante que a imagem vai ocupar todo o conteúdo da div sem distorce */
    object-fit: cover;
  }
  
  /* define o tamanho da caixa */
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    }
  
    .navbar {
      background-color: #ffffff;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
      padding: 10px;
      z-index: 99;
      position: fixed;
      width: 100%;
      height: 90px;
    }
  
    .navbar__logo {
      margin-top: 10px;
      max-width: 180px;
    }
    
    .navbar__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      margin-top: -22px;
    }
    
    .menu__nav {
      font-size: 18px;
      color: #e90505;
      display: flex;
    }
  
    .nav__item {
      margin: 0 15px;
    }
    
    .menu__nav > li {
      margin: 0 16px;
      font-weight: bold;
    }
    
    .menu__nav--hamburguer {
      display: none;
    }
  
  .header {
    
    min-height: 90vh;
    width: 100%;
    background-size: cover;
    background-image: url(../img/banner.png);
    display: flex;
  }
  
 
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
  }
  
  /* --- FOOTER --- */
  
  .rodape {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  .rodape__principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rodape__principal > * {
    margin: 16px 0;
  }
  
  .rodape__navegacao > li {
    font-size: 14px;
    margin: 8px;
  }
  
  .rodape__navegacao a {
    transition: all 0.5s;
  }
  
  .rodape__navegacao a:hover {
    color: #c083b9;
  }
  
  .rodape__logo {
    max-width: 200px;
    align-items: center;
    justify-content: center;
  }
  
  .rodape__redes-sociais a{
   margin: 0 4px;
  }
  
  .rodape__cc {
    width: 100%;
    background-color: #ffffff;
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    padding: 10px;
  }
  
  /* --- BOTAO --- */
  
  .btn {
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn_roxo {
    color: white;
    background-color: #c083b9;
    display: block;
    max-width: 200px;
    text-align: center;
    transition: all 0.5s;
    margin: 0 auto;
  }
  
  .btn_roxo:hover,
  .btn_roxo:focus {
    transform: translateY(-06px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(192, 156, 188);
  }
  

.secao-diva {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  margin: 0 auto;
}

.secao-diva__titulo {
  text-align: center;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #000000;
}

.secao-diva__titulo_esq {
  margin-right: auto;
}

.secao-diva p {
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
}

.secao-diva__introducao {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.secao-diva__historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

  
  
@media (max-width: 1440px) {
  .header__box {
    top: 300px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 80vw;
  }
}

@media (max-width: 768px) {


  .header {
    background-image: url(../img/banner-mobile.PNG);
    min-width: 60vh;
    min-height: 80vh;
        
  }

  .menu__nav {
    display: none;
    position:absolute;
    align-items: flex-end;
    width: 50%;
    height: 495px;
    top: 96px;
    right: 0px;
    background-color: #ffffff;
    
  }

  .menu__nav li {
    padding: 2rem 0;
    margin: 0 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);


  }
  .menu__nav--hamburguer {
    display: block;
    height: 36px;
  }
  .navbar {
    height: 96px;
  }
  .navbar__logo {
    max-width: 196px;
  }
  
  #nav.active .menu__nav {
    display: block;
  }

  .rodape__principal {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .header__box {
    top: 250px;
  }

}

@media (max-width: 375px) {
  .header__box {
    top: 180px;
  }
}
